*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto';
}

html {
    scroll-behavior: smooth;
    font-size: calc( 1vw + 1vh );
}

body {
	background-color: rgb(10, 10, 10);
}




.iconUp {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cpath fill='%2329B6F6' d='M0 16.7l2.8 2.8 9.2-9.3 9.2 9.3 2.8-2.8L12 4.5z'/%3E%3C/svg%3E");
}

.iconClose {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cpath fill='%2329B6F6' d='M12 2a10 10 0 110 20 10 10 0 010-20zm0-2a12 12 0 100 24 12 12 0 000-24zm5 15.5L13.4 12 17 8.4 15.5 7 12 10.6 8.4 7 7 8.5l3.6 3.5L7 15.6 8.5 17l3.5-3.6 3.6 3.6 1.4-1.5z'/%3E%3C/svg%3E");
}

.ascending {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cpath fill='%2329B6F6' d='M23.68 18.52a2.3 2.3 0 01-1.97 3.47H2.3a2.3 2.3 0 01-1.97-3.47l9.7-16.18a2.3 2.3 0 013.94 0l9.7 16.18z'/%3E%3C/svg%3E");
}

.descending {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cpath fill='%2329B6F6' d='M.33 4.7A2.3 2.3 0 012.3 1.23H21.7a2.3 2.3 0 011.97 3.47l-9.71 16.18a2.3 2.3 0 01-3.93 0z'/%3E%3C/svg%3E");
}

.iconGlobe {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23000' viewBox='0 0 420 420'%3E%3Cdefs/%3E%3Cpath stroke-width='26' d='M209 15a195 195 0 102 0z'/%3E%3Cpath stroke-width='18' d='M210 15v390m195-195H15M59 90a260 260 0 00302 0m0 240a260 260 0 00-302 0M195 20a250 250 0 000 382m30 0a250 250 0 000-382'/%3E%3C/svg%3E");
}

.iconLink {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cpath fill='%2329B6F6' d='M21 13v10H0V4h12v2H2v15h17v-8h2zm3-12H13l4 4-7 7 3 3 7-7 4 4V1z'/%3E%3C/svg%3E");
}

.iconFb {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cpath fill='%23fff' d='M9 8H6v4h3v12h5V12h3.6l.4-4h-4V6.3c0-1 .2-1.3 1.1-1.3H18V0h-3.8C10.6 0 9 1.6 9 4.6V8z'/%3E%3C/svg%3E");
}




#left {
	float: left;
	width: 67%;
  padding: 1vw 0.5vw 1vw 1vw;
}

#right {
	float: right;
	width: 33%;
	padding: 1vw 1vw 1vw 0.5vw;
}

#right h1 {
	background-color: rgb(30, 30, 30);
	border-radius: 0.25em;
	color: white;
	font-size: 1rem;
	font-weight: normal;
	text-align: center;
	line-height: 1.5;
	margin: 0 0 1vw 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 calc(1.5rem + 1vw) 0 0.25rem;
}

.headingWrap {
	position: sticky;
	top: 0;
	background-color: rgb(10, 10, 10);
}

#right h2 {
	background-color: rgb(30, 30, 30);
	border-radius: 0.25em;
	color: white;
	font-size: 0.5rem;
	font-weight: normal;
	text-align: center;
	margin: 0 0 1vw 0;
}




#mapPanel {
	margin: 0 0 1vw 0;
}

#mapPanel #map {
	border-radius: 0.25em;
	box-shadow: 0 0 0.25em black;
	overflow: hidden;
	background-color: #181818;
	height: 41.82vw;
}

#mapPanel .buttons {
	text-align: right;
	padding: 0 0.5rem 0 0;
	display: flex;
	justify-content: flex-end;
}

#mapPanel .mapButton {
	color: #ddd;
	background-color: rgb(15, 15, 15);
	padding: 0 0.25rem;
	line-height: 2;
	margin: 0 0.25em;
	border-radius: 0.25rem 0.25rem 0 0;
	box-shadow: 0 0 0.25em black;
	cursor: pointer;
	opacity: 1;
	font-size: 0.5rem;
	display: inline-block;
}

#mapPanel .mapButton.active {
  color: #29b6f6;
	background-color: #181818;
}

#mapPanel .views {
	display: flex;
	justify-content: flex-end;
	padding: 0 0.5rem 0.5rem;
}

#mapPanel .mapView {
	color: rgb(221, 221, 221);
	background-color: rgb(15, 15, 15);
	padding: 0 0.25rem;
	line-height: 2;
	margin: 0 0.25em;
	border-radius: 0 0 0.25rem 0.25rem;
	box-shadow: 0 0 0.25em rgb(0, 0, 0);
	cursor: pointer;
	opacity: 1;
	font-size: 0.5rem;
	display: inline-block;
}

#mapPanel .mapView.active {
  color: #29b6f6;
	background-color: #181818;
}

#mapPanel .mapCountryName {
	color: rgb(221, 221, 221);
	background-color: rgb(15, 15, 15);
	padding: 0 0.25rem;
	line-height: 2;
	margin: 0 0.25em;
	border-radius: 0 0 0.25rem 0.25rem;
	box-shadow: 0 0 0.25em rgb(0, 0, 0);
	opacity: 1;
	font-size: 0.5rem;
	display: none;
}




#data_column {
	overflow: hidden;
}

#data_column .data_row {
	display: flex;
	justify-content: space-between;
	margin: 0 0 1vw 0;
}

#data_column .data_box2 {
	background-color: rgb(30, 30, 30);
	color: #eee;
	padding: 0.25rem;
	border-radius: 0.25em;
	margin: 0 1vw 0 0;
	flex: 1;
}

#data_column .data_box2:last-child {
	margin: 0;
}

.data_box2 .heading {
	display: flex;
	justify-content: space-between;
	line-height: 0.5rem;
}

.data_box2 h5 {
	font-size: 0.5rem;
	font-weight: normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.data_box2 h5 a {
  text-decoration: none;
	color: rgb(41, 182, 246);
}

.data_box2 span {
	font-size: 0.6rem;
	display: block;
	color: fuchsia;
}

.data_box2 p {
	font-size: 0.9rem;
	text-align: right;
	padding: 0 0 0 1rem;
	margin: 0.5rem 0 0 0;
}

.data_box2 p.red {
	color: rgb(255, 63, 63);
}

.data_box2 p span {
	color: #ddd;
	display: inline-block;
	font-size: 0.5rem;
}

.data_box2.small p {
  font-size: 1.2em;
}




#countries {
	border-radius: 0.25em;
}

#countries .heading {
	background-color: rgb(20, 20, 20);
	display: flex;
	border-radius: 0.25em 0.25em 0 0;
}

#countries .heading > div {
	flex: 1;
	text-align: center;
	color: #eee;
	font-size: 0.6rem;
	line-height: 1.5;
	border-right: solid 1px rgba(255, 255, 255, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0.1rem 0.66rem 0.1rem 0.2rem;
	cursor: pointer;
	background-size: 0.33rem;
	background-repeat: no-repeat;
	background-position: right 0.33rem center;
}

#countries .heading > div > p {
    font-size: 0.8em;
}

#countries .heading > div:last-child {
	border-right: none;
}

#countries .country {
	background-color: rgb(35, 35, 35);
	padding: 0.25em 0;
	display: flex;
	transition: background-color 0.3s ease 0s;
	cursor: pointer;
}

#countries .country.green {
	background-color: rgb(43, 72, 43);
}

#countries .country:nth-child(2n) {
	background-color: rgb(45, 45, 45);
}

#countries .country.green:nth-child(2n) {
	background-color: rgb(43, 72, 43);
}

#countries .country:hover, #countries .country:nth-child(2n):hover {
	background-color: rgb(64, 64, 15);
}

#countries .country:last-child {
	border-radius: 0 0 0.25em 0.25em;
}

#countries .country > div {
	flex: 1;
	text-align: center;
	color: rgb(238, 238, 238);
	font-size: 0.6rem;
	line-height: 1.5;
	border-right: solid 1px rgba(255, 255, 255, 0.1);
	padding: 0.1rem 0.66rem 0.1rem 0.2rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#countries .country > div:last-child {
	border-right: none;
}

#countries .country > div.red {
	color: rgb(255, 63, 63);
}

#countries .country > div.green {
	color: rgb(0, 255, 0);
}

#countries .country div p:nth-child(2) {
  display: none;
}

#countries .country div p.red {
	color: rgb(255, 63, 63);
}

#countries .country div p.green {
	color: lime;
}

#countries .name {
	flex: 2 !important;
}




#news .heading, #newsMob .heading {
	background-color: rgb(20, 20, 20);
	padding: 0.25em 0;
	position: sticky;
	top: 0;
	border-radius: 0.25em 0.25em 0 0;
	text-align: center;
	color: rgb(238, 238, 238);
	font-size: 0.9rem;
	line-height: 1.5;
}

#news .iconClose, #newsMob .iconClose {
	display: none;
}

#news .newsBox, #newsMob .newsBox {
	background-color: #303030;
	padding: 0.5em;
	overflow: hidden;
}

#news .newsBox:nth-child(2n), #newsMob .newsBox:nth-child(2n) {
	background-color: #202020;
}

#news .newsBox:last-child, #newsMob .newsBox:last-child {
	border-radius: 0 0 0.25em 0.25em;
}

#news a, #newsMob a {
	background-color: black;
	color: white;
	font-size: 0.5rem;
	line-height: 1.75;
	padding: 0 0.5rem;
	border-radius: 500px;
	text-decoration: none;
	float: left;
	clear: both;
}

#news .title, #newsMob .title {
	background-color: rgba(0, 0, 0, 0);
	font-size: 0.6rem;
	margin: 0.5em 0 0 0;
	line-height: 1.25;
	color: #eee;
	padding: 0;
}




#areas {
	padding: 0.25em 0.5em;
	background-color: rgb(20, 20, 20);
	margin: 0 0 1vw 0;
	border-radius: 0.25em;
}

#areas span {
	color: #eee;
	font-size: 0.6rem;
	margin: 0 0.25em 0 0;
}

#areas a {
	background-color: rgb(48, 48, 48);
	font-size: 0.6rem;
	color: white;
	line-height: 1.5;
	display: inline-block;
	padding: 0 0.25em;
	border-radius: 0.25em;
	text-decoration: none;
	float: unset;
	margin: 0 0.25em 0 0;
	transition: color 0.3s ease 0s;
}

#areas a:hover {
	color: rgb(41, 182, 246);
}

#areas a.active {
	background-color: rgb(41, 182, 246);
	color: #111;
	cursor: default;
}

#areas a.active:hover {
  color: #111;
}




#newsMob {
  display: none;
}




#scrollToTop {
	display: none;
	position: fixed;
	width: 1.5rem;
	height: 1.5rem;
	background-color: rgb(20, 20, 20);
	bottom: 1rem;
	right: 1rem;
	border-radius: 500px;
	background-size: 66%;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 0 0 0.25rem rgb(0, 0, 0);
	cursor: pointer;
}




#graph_chart {
	margin: 0 0 1vw 0;
	border-radius: 0.25em;
	overflow: hidden;
	height: 16.5vw;
  background-color: #181818;
}

#graphPanel .buttons {
	padding: 0 0 0 0.5em;
	display: flex;
}

#graphPanel .mapButton {
	color: rgb(68, 68, 68);
	background-color: rgb(9, 9, 9);
	padding: 0 0.25rem 0.25rem 0.25rem;
	line-height: 1.5;
	margin: 0 0.25em;
	border-radius: 0.25rem 0.25rem 0 0;
	box-shadow: 0 0 0.25em rgb(0, 0, 0);
	cursor: pointer;
	opacity: 1;
	font-size: 0.5rem;
	display: inline-block;
}

#graphPanel .mapButton.active {
	color: rgb(41, 182, 246);
	background-color: rgb(24, 24, 24);
}

#graphPanel .buttons.mobile {
  display: none;
}




.flipCard {
	background-color: rgba(0, 0, 0, 0);
	width: 100%;
	height: 1.5rem;
	perspective: 100vh;
	margin: 0 0 1vw 0;
}

.flipBox {
	flex: 1;
	margin: 0 1vw 0 0;
	height: 2.6rem;
}

.data_row > div:last-child {
  margin: 0;
}

.flipInner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transform-style: preserve-3d;
}

.flipCard.flipActive .flipInner {
	transform: rotateX(-180deg);
}

.flipFront, .flipBack {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flipFront {
	color: black;
}

.flipBack {
	transform: rotateX(180deg);
}

.flipOrder1 {
	transition: transform 0.5s ease 0s;
}

.flipOrder2 {
	transition: transform 0.5s ease 0.05s;
}

.flipOrder3 {
	transition: transform 0.5s ease 0.1s;
}

.flipOrder4 {
	transition: transform 0.5s ease 0.15s;
}

.flipOrder5 {
	transition: transform 0.5s ease 0.2s;
}

.flipOrder6 {
	transition: transform 0.5s ease 0.25s;
}

.flipOrder7 {
	transition: transform 0.5s ease 0.3s;
}

.flipOrder8 {
	transition: transform 0.5s ease 0.35s;
}

.flipOrder9 {
	transition: transform 0.5s ease 0.4s;
}

.flipOrder10 {
	transition: transform 0.5s ease 0.45s;
}

.flipOrder11 {
	transition: transform 0.5s ease 0.5s;
}




#footer {
	margin: 1vw 0 0 0;
	font-size: 0.5rem;
	overflow: hidden;
}

#footer a {
	display: block;
	float: left;
	color: #eee;
	text-decoration: none;
	padding: 0 0.5rem;
	line-height: 2;
	background-color: rgb(30, 30, 30);
	border-radius: 0.25rem;
	margin: 0 0.5rem 0 0;
}




#pickLanguageWrap {
	position: absolute;
	padding: 1vw;
	top: 0;
	right: 0;
	border-radius: 500px;
	background-color: rgb(10, 10, 10);
}

#pickLanguage {
	width: 1.5rem;
	height: 1.5rem;
	background-color: rgb(30, 30, 30);
	border-radius: 500px;
	cursor: pointer;
	transition: transform 0.3s ease 0s;
	line-height: 1.5rem;
	text-align: center;
	color: rgb(41, 182, 246);
	font-size: 0.6rem;
}

#pickLanguage.active {
	transform: scale(1.3);
}




#languages {
	display: none;
	position: absolute;
	background-color: rgba(0, 0, 0, 1);
	top: calc( 1.9vw + 1.5rem );
	right: 1vw;
	border-radius: 0.25rem;
	padding: 0.5rem;
	border: solid 1px rgb(128, 128, 128);
}

#languages a {
	display: block;
	text-align: center;
	color: #eee;
	font-size: 0.6rem;
	text-decoration: none;
	line-height: 2;
	transition: color 0.3s ease 0s;
}

#languages a:hover {
	color: rgb(41, 182, 246);
}




#disclaimer {
	white-space: unset;
}




#sources {
	margin: 1vw 0 0 0;
}

#sources .headingWrap {
	position: sticky;
	top: 0;
	background-color: rgb(10, 10, 10);
}

#sources .heading {
	background-color: rgb(20, 20, 20);
	padding: 0.25em 0;
	position: sticky;
	top: 0;
	border-radius: 0.25em 0.25em 0 0;
	text-align: center;
	color: rgb(238, 238, 238);
	font-size: 0.9rem;
	line-height: 1.5;
}

#sources .source {
	background-color: #232323;
	padding: .25rem 0;
	display: flex;
	transition: background-color .3s ease 0s;
	cursor: pointer;
	color: #ddd;
	font-size: .6rem;
	text-decoration: none;
}

#sources .source:nth-child(2n) {
	background-color: rgb(45, 45, 45);
}

#sources .source .icon {
	width: 2.4rem;
	background-size: .5rem;
	transition: transform 0.3s ease 0s;
  background-repeat: no-repeat;
  background-position: center;
}

#sources .source:hover .icon {
  transform: scale(1.5);
}

#sources .source .content {
	padding: 0 0 0 0.5rem;
	border-left: solid 1px rgba(255,255,255,.1);
}

#sources .content div {
	line-height: 0.8rem;
}

#sources .content div:last-child {
	color: rgb(100, 100, 100);
	font-size: 0.5rem;
}




#cleancode {
	height: 12vw;
	background-image: url(/imgs/ccbg1.jpg);
	border-radius: 0.25rem;
	margin: 0 0 1vw 0;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

#cleancode .upside {
	flex: 4;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.5rem;
}

#cleancode .downside {
	flex: 1;
	font-size: .5rem;
	padding: .25rem .5rem;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

#cleancode .downside a {
	background-color: black;
	line-height: 1.5rem;
	border-radius: 0.25rem;
	margin: 0 0 0.5rem 0;
  color: #ddd;
  text-decoration: none;
}

#cleancode .title {
	color: white;
}

#cleancode .upside .title a {
	background-color: black;
	display: inline-block;
	line-height: 1.5;
	padding: 0 0.5rem;
	border-radius: 0.25rem;
  color: #ddd;
  text-decoration: none;
}

#cleancode .social a {
	width: 1.5rem;
	height: 1.5rem;
	display: block;
	float: right;
	background-color: black;
	border-radius: 500px;
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
  color: #ddd;
  text-decoration: none;
}




#=====mobile=====#




@media screen and (max-width: 1023px) {

html {
    font-size: calc( 1.5vw + 1.5vh );
}

#right {
	float: unset;
	padding: 0.5rem;
	width: 100%;
}

#right h1 {
	margin: 0 0 0.5rem 0;
}

#left {
	float: unset;
	padding: 0 0.5rem 0.5rem 0.5rem;
	width: 100%;
}




#news {
	display: none;
}




#graph_chart {
	margin: 0.5rem 0 0 0;
	height: 40vw;
}

#graphPanel .buttons {
	display: none;
}

#graphPanel .buttons.mobile {
	text-align: right;
	padding: 0 1em 0 0;
	display: flex;
	justify-content: end;
  margin: 0 0 0.5rem 0;
}

#graphPanel .mobile .mapButton {
	color: rgb(68, 68, 68);
	background-color: rgb(9, 9, 9);
	padding: 0.25rem 0.25rem 0 0.25rem;
	line-height: 1.5;
	margin: 0 0.25em;
	border-radius: 0 0 0.25rem 0.25rem;
	box-shadow: 0 0 0.25em rgb(0, 0, 0);
	cursor: pointer;
	opacity: 1;
	font-size: 0.6rem;
	display: inline-block;
}

#graphPanel .mobile .mapButton.active {
	color: rgb(41, 182, 246);
	background-color: rgb(24, 24, 24);
}




#mapPanel #map {
	height: unset;
}

#mapPanel .mapButton, #mapPanel .mapView{
	font-size: 0.6rem;
}




#data_column .data_row {
	margin: 0 0 0.5rem 0;
}

#data_column .data_box2 {
	margin: 0 0.5rem 0 0;
}




#disclaimer {
	font-size: 0.5rem !important;
}




#areas {
	padding: 0 0.25em;
	margin: 0;
}




#countries {
	font-size: 1.25em;
}

#countries .heading > div {
	line-height: 3;
}

#countries .heading .newcases{
  display: none;
}

#countries .heading .newrecovered{
  display: none;
}

#countries .heading .newdeaths{
  display: none;
}

#countries .newcases {
	display: none !important;
}

#countries .newrecovered {
	display: none !important;
}

#countries .newdeaths {
	display: none !important;
}

#countries .country div p:nth-child(2) {
	font-size: 0.8em;
	display: inline-block;
	padding: 0 1em;
	border-radius: 0.25em;
}




#pickLanguageWrap {
	position: fixed;
	bottom: 3rem;
	right: 1rem;
	border-radius: 500px;
	box-shadow: 0 0 0.25rem rgb(0, 0, 0), 0 0 0.25rem rgb(0, 0, 0);
	top: unset;
	padding: 0;
	background-color: rgba(0, 0, 0, 0);
}

#pickLanguage {
	background-color: rgb(41, 182, 246);
	color: #222;
	font-size: 0.75rem;
	line-height: 2;
	font-weight: 900;
}




#languages {
	position: fixed;
	top: unset;
	bottom: 3rem;
	right: 3rem;
}

}
